body {
  margin: 0;
  background-color: black;
}
header  {
  background-color: #B60000;
  font-family: times new roman;
  font-size: 20px;
}
nav ul {
  margin: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  padding-top: .75%;
  padding-bottom: .75%;
  padding-left: 1.25%;
  padding-right: 4.25%;
}
nav a:hover {
  color: #000
}
nav a:before {
  content: ' ';
  display: block;
  height: 5px;
  background-color: #000;
  top: 0;
  width: 0;
  transition: all ease-in-out 300ms;
}
nav a:hover::before {
  width: 100%;
}
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
h1 {
  margin: 0;
  font-family: times new roman;
  font-size: 30px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #990000;
  padding-top: 12px;
}
h2 {
  margin: 0;
  font-family: times new roman;
  font-size: 22px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #990000;
  padding-bottom: 12px;
}
h3 {
  margin: 0;
  font-family: times new roman;
  font-size: 26px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #990000;
  padding-bottom: 12px;
}
p {
  font-family: Arial;
  font-size: 26px;
  line-height: 2.0;
  color: white;
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: .5%;
}
.p1 {
  font-family: Arial;
  font-size: 17px;
  line-height: 1.8;
  color: whitesmoke;
}
.p2 {
  font-family: times new roman;
  font-size: 15px;
  color: whitesmoke;
}
.p3 {
  font-family: Arial;
  font-size: 40px;
  line-height: 2.2;
  color: whitesmoke;
}
.p4 {
  font-family: Arial;
  font-size: 32px;
  line-height: 2.2;
  color: whitesmoke;
  margin-left: 2%;
  font-weight: bold;
}
.p5 {
  font-family: Arial;
  font-size: 28px;
  line-height: 1.8;
  color: white;
  margin-left: 4%;
  text-decoration: underline;
}
.p6 {
  font-family: Arial;
  font-size: 22px;
  line-height: 2.4;
  color: white;
  margin-left: 7%;
  padding-right: 7%;
  display: inline-block;
}
.version {
  margin-left: 6%;
  text-indent: -1.5em;
}
.bottom {
  line-height: 2.0;
  background-color: #920000;
  padding: 1%;
  text-align: center;
  margin-top: 4%;
}
.image {
  display: block;
  background-color: black;
  padding-top: .6%;
  padding-bottom: .6%;
}
.hovering_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background-color: #007bff;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  display: none;
  transition: opacity 0.3s ease;
}
.hovering_button:hover {
  background-color: #0056b3;
}
.hovering_button.show {
  display: inline-block;
}